.parent{
    width: 550px;
    height: 250px;
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    align-items: center;
justify-content: center;
position: relative;
left: 15%;
border: 4px solid rgb(0, 60, 255);
background-image: url(https://img.freepik.com/free-photo/beautiful-tropical-beach-sea-ocean-with-white-cloud-blue-sky-copyspace_74190-8663.jpg);
}
.inp1{width: 500px;
display: flex;
justify-content: center;
}
.inp2{margin-top: 5px;
width: 500px; display: flex;
justify-content: center;}
.child{display: flex;
flex-direction:row;
}
.sms{width: 224px; height: 75px;}
.man{width: 254px;
}
.knopka{margin-top: px; background-color: rgb(50, 147, 226);margin-top: 5px;
    border-radius: 10px; display: flex;
    position: absolute;right: 43%;
}

.knopka:hover {background-color: rgb(242, 245, 51);
border: 3px solid rgb(240, 130, 4); cursor: pointer;}
.inp1:focus{background-color: rgb(141, 214, 236);}
.inp2:focus{background-color: rgb(141, 214, 236);}
.knopka:active{background-color: rgb(238, 118, 6);
border: 3px solid rgb(240, 39, 4);}